.bg {
    /* The image used */
    background-image: url("../img/pics/background_home.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
/*.animated {
    animation-iteration-count: infinite;
}*/
.maske {
    /* maskeleme */
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 999;
  }