.bg {
    /* The image used */
    background-image: url("../img/pics/background_home.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
/*.animated {
    animation-iteration-count: infinite;
}*/
.bg-noticia {
    /* The image used */
    background-image: url("../img/pics/abstract-h-c-480-781-10.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.maskara {
    animation-delay: 0.5s;
}